body {
  margin: 0;
  padding: 0;  
  background: linear-gradient(rgb(255, 255, 255), rgb(184, 1, 1), black);
}

/* PAGE D'ACCUEIL */

.titre {
    width: 100vw;
    height: 100vh;
    font-size: 80px;
    display: flex;
    text-align: center;
    font-family: 'Texturina', serif;
    align-items: center;
    justify-content: center;
}

.livre {   
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 0 solid;
    border-radius: 8px;
    background-color: white;
    width: 800px;
    font-family: 'Special Elite', cursive;
    margin-top: 300px;
}

.livre p{
    text-align: justify;
    font-size: 18px;
    line-height: 32px;
}

/* PORTRAIT 1 */

.portrait1 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}

.portrait1 h2 {
    font-size: 60px;
    margin: auto;
}

.mot1-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
}

.mot1-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
}

.mot1-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
}

.mot1-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
}

.mot1-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
}

.mot1-6 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1100px;
  margin-top: 300px;
}

#blocImage1 {
  display: block;
  position: relative;
  background-image:url(images/portrait1.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge rgb(218, 165, 32);
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}



/* PORTRAIT 2 */

.portrait2 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}

.portrait2 h2 {
    font-size: 60px;
    margin: auto;
    animation: heartbeat 1s infinite; 
}

.mot2-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
}

.mot2-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
}

.mot2-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
}

.mot2-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
}

.mot2-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
}

.mot2-6 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1100px;
  margin-top: 300px;
}

#blocImage2 {
  display: block;
  position: relative;
  background-image:url(images/portrait1.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge rgb(218, 165, 32);
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}

/* PORTRAIT 3 */

.portrait3 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}

.portrait3 h2 {
    font-size: 60px;
    margin: auto;
    animation: moveX 10s linear 0s infinite normal both; 
}

.mot3-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
}

.mot3-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
}

.mot3-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
}

.mot3-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
}

.mot3-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
}

.mot3-6 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1100px;
  margin-top: 300px;
}

#blocImage3 {
  display: block;
  position: relative;
  background-image:url(images/portrait1.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge rgb(218, 165, 32);
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  animation: test 10s ease-in-out 0s infinite alternate both;
}

/* PORTRAIT 4 */

.portrait4 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    text-align: center;
}

.portrait4 h2 {
    font-size: 60px;
    margin: auto;
    animation: moveX 3s linear 0s infinite both;
}

.mot4-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
}

.mot4-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
}

.mot4-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
}

.mot4-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
}

.mot4-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
}

#blocImage4 {
  display: block;
  position: relative;
  background-image:url(images/portrait1.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge rgb(218, 165, 32);
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  animation: test2 7s ease-in-out 0s infinite alternate both;
}

/* PORTRAIT 5 */

.portrait5 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}

.portrait5 h2 {
    font-size: 60px;
    color: rgb(255, 20, 20);
    margin: auto;
    animation: glitch 1s linear infinite;
}

.mot5-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
  color: rgb(255, 20, 20);
}

.mot5-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
  color: rgb(255, 20, 20);
}

.mot5-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
  color: rgb(255, 20, 20);
}

.mot5-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
  color: rgb(255, 20, 20);
}

.mot5-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
  color: rgb(255, 20, 20);
}

.mot5-6 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1100px;
  margin-top: 300px;
  color: rgb(255, 20, 20);
}

#blocImage5 {
  display: block;
  position: relative;
  background-image:url(images/portrait2.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge rgb(218, 165, 32);
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}

/* PORTRAIT 6 */

.portrait6 {
    font-family: 'Texturina', serif;
    margin-top: 300px;
    align-items: center;
    text-align: center;
}

.portrait6 h2 {
    font-size: 60px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.mot6-1 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 50px;
  color: rgb(255, 255, 255);
}

.mot6-2 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1050px;
  margin-top: 100px;
  color: rgb(255, 255, 255);
}

.mot6-3 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 150px;
  color: rgb(255, 255, 255);
}

.mot6-4 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1150px;
  margin-top: 200px;
  color: rgb(255, 255, 255);
}

.mot6-5 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 250px;
  margin-top: 250px;
  color: rgb(255, 255, 255);
}

.mot6-6 {
  position: absolute;
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  margin-left: 1100px;
  margin-top: 300px;
  color: rgb(255, 255, 255);
}

#blocImage6 {
  display: block;
  position: relative;
  background-image:url(images/portrait1.png);
  background-size: 390px;
  background-repeat: no-repeat;
  border: 4mm ridge goldenrod;
  width: 350px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}

/* KEYFRAMES */

/* GLITCH */

@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
.portrait5 h2:before, .portrait5 h2:after{
    content: attr(portrait);
    position: absolute;
    left: 0;
  }
  
.portrait5 h2:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
 @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
.portrait5 h2:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
@keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }


/* MOUVEMENT EN X */

@keyframes moveX {
    0% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(1800px);
    }
}

/* COEUR QUI BAT */

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

/* OPACITY */

@keyframes opacity{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

/* PORTRAIT */

@keyframes test {
  0% {
    background-image: url(images/portrait1.png);
  }
  35% {
    background-image: url(images/portrait2.png);
  }
  100% {
    background-image: url(images/portrait1.png);
  }
}

@keyframes test2 {
  0% {
    background-image: url(images/portrait1.png);
  }
  100% {
    background-image: url(images/portrait2.png);
  }
}









